<%= render 'form' %>
<%if @photos && @photos.size > 0%>  
  <div id="photos"><%= render 'photos' %></div>
  <%else%>
  <% if flash[:notice]%>
  	<div class="row">
	  	<div class="col-lg-6">
			<div class="alert alert-info alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert">
			  	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			  </button>
			  <strong>Info!</strong> <%=flash[:notice]%>
			</div>	  		
	  	</div>
  	</div>
  <%end%>
<%end%>

