<%= render 'form' %>
<%if @photos && @photos.size > 0%>  
  <div id="photos"><%= render 'photos' %></div>
  <%else%>
  <% if flash[:notice]%>
  	<div class="row">
	  	<div class="col-lg-6">
	  		<p><%=flash[:notice]%></p>
	  	</div>
  	</div>
  <%end%>
<%end%>

