<!DOCTYPE html>
<html>
<head>
  <title>Codetest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	body {
		padding-top: 60px;
   }
    .well { background: #fff; }
    .thumbnails{margin-left:-20px;list-style:none;*zoom:1;}
	.thumbnails>li{float:left;margin-bottom:20px;margin-left:20px; }
	li .thumbnail>img{display:block;height: 120px; overflow-y: hidden;}

  </style>
  
<script type="text/JavaScript">
$(document).ready(function() { 
	$('.thumbnail').click(function(){
	  	$('.modal-body').empty();
	  	var title = $(this).attr("title");
	  	$('.modal-title').html(title);
	  	$($(this).parents('div').html()).appendTo('.modal-body');
	  	$('#flickrModal').modal({show:true});
	});
	$('#submitSearch').click(function(){
	   if($.trim($('#search').val()) == ''){
	      alert('Input can not be left blank');
	      return false;
	   }
	});
});
</script>  
<style type="text/css">
.modal-dialog {
	width:600px;
}
</style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Flickr Images</a>
			</div>
		</div>
	</div>
    <div class="container">
        <div class="row">
          <div class="span12">
            <%= yield %>
          </div>

        </div><!--/row-->

    </div> <!-- /container -->
</body>
</html>
